{{#if isImage}}
  <div class="image" data-src={{thumbnailUrl}}></div>
{{else}}
  <div class="image generic-file">
    <p class="meta">{{nameWithoutTimestamp}}</p>
  </div>
{{/if}}

<div class="overlay {{if overlayIsVisible 'visible'}}">
  <a class="share" {{action "share"}}><i class="icon-export"></i></a>
  <a class="zoom" {{action "zoom"}}><i class="icon-eye"></i></a>
  <a class="go-to-url" href={{url}} target="_blank"><i class="icon-download"></i></a>
  <a class="delete" {{action "remove"}}><i class="icon-trash"></i></a>
</div>

{{#if item.isDeleting}}
  <div class="overlay-deleting">
    {{#if isSmallScreen}}
    {{loading-spinner height=120 width=3 radius=20 color='#eee' top='auto' left='auto'}}
    {{else}}
    {{loading-spinner height=200 width=4 radius=20 color='#eee' top='auto' left='auto'}}
    {{/if}}
  </div>
{{/if}}
