<nav>
  <ul>
    <li id="logo">{{#link-to "index"}}S{{/link-to}}</li>
    <li id="history">{{#link-to "history"}}<i class="icon-history"></i>{{/link-to}}</li>
  </ul>
</nav>
<main>
  {{#if rs.connected}}
    {{outlet}}
  {{else}}
    {{#if rs.connecting}}
      <section class="content remotestorage-connecting">
        {{spinner height=300 width=5 radius=30 color='#222' top='auto' left='auto'}}
        <p>Connecting</p>
      </section>
    {{else}}
      {{partial "welcome"}}
    {{/if}}
  {{/if}}
</main>
