<section class="content history">
  <ul>
    {{#each}}
    <li>
      {{history-item url=url name=name}}
      <div class="overlay">
        <a class="delete" {{action "remove" name}}><i class="icon-trash"></i></a>
        <a class="share" {{action "share" url}}><i class="icon-export"></i></a>
      </div>
      {{#if isDeleting}}
      <div class="overlay-deleting">
        {{#if App.isSmallScreen}}
        {{loading-spinner height=120 width=3 radius=20 color='#eee' top='auto' left='auto'}}
        {{else}}
        {{loading-spinner height=200 width=4 radius=20 color='#eee' top='auto' left='auto'}}
        {{/if}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</section>
