{{file-dropzone hasFileToUpload=hasFileToUpload
                readInputFile="readInputFile"}}

{{#if hasFileToUpload}}
  {{#if isUploading}}
    <section class="content upload-in-progress">
      {{#if isSmallScreen}}
      {{loading-spinner height=200 width=4 radius=20 color='#222' top='auto' left='auto'}}
      {{else}}
      {{loading-spinner height=300 width=5 radius=30 color='#222' top='auto' left='auto'}}
      {{/if}}
      <p>Uploading</p>
    </section>
  {{else}}
    <section class="content upload-preview">
      <div class="upload-preview">
        {{#if fileIsImage}}
          <div id="file-preview" class="image">
            <img id="preview-image" src={{file.base64}}>
          </div>
        {{else}}
          <div id="file-preview" class={{simpleFileType}}>
            <p>icon for CSS class<br><code>#filepreview.{{simpleFileType}}</code></p>
          </div>
        {{/if}}
        <p class="meta-data">
          <span class="name">{{file.name}}</span>
          <span class="size">{{human-file-size file.size}}</span>
        </p>
        <p class="actions">
          {{#if fileIsImage}}
            <button {{action "rotateLeft"}} class="rotate-left">Rotate left</button>
            <button {{action "rotateRight"}} class="rotate-right">Rotate right</button>
          {{/if}}
          <button {{action "submitFileUpload"}} class="upload">Upload</button>
          <button {{action "cancelFileUpload"}} class="cancel">Cancel</button>
        </p>
      </div>
    </section>
  {{/if}}
{{/if}}
