<section id="dropzone" class="content upload">
<label class="file-picker">
  {{view Sharesome.UploadFileSelectView contentBinding='content'}}
</label>
</section>

{{#if fileToUpload}}
<section class="content upload-preview">
<div class="upload-preview">
  {{#if fileIsImage}}
  <div class="image">
    <img {{bind-attr src=base64}}>
  </div>
  {{else}}
  <p>File of type {{type}}</p>
  {{/if}}
  <p class="meta-data">
    <span class="name">{{name}}</span>
    <span class="size">{{humanFileSize size}}</span>
  </p>
  <p class="actions">
    <button {{action submitFileUpload}}>Upload</button>
    <button {{action cancelFileUpload}}>Cancel</button>
  </p>
</div>
</section>
{{/if}}
