<section id="dropzone" class="content upload">
<label class="file-picker">
  {{view Sharesome.UploadFileSelectView contentBinding='content'}}
</label>
</section>

{{#if fileToUpload}}
<section class="content upload-preview">
<div class="upload-preview">
  {{#if fileIsImage}}
  <p>Image file to upload:</p>
  <img {{bind-attr src=base64}}>
  {{else}}
  <p>File of type {{type}}</p>
  {{/if}}
  <p><button {{action submitFileUpload}}>Upload</button></p>
</div>
</section>
{{/if}}

